{% extends "layout/main.njk" %}

{% block content %}
    <h1 class="title">{{ title }}</h1>

    <div class="columns">
        {% for project in projectList %}
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <h2 class="title">
                            {{ project.name }}
                        </h2>
                        <p class="subtitle">

                        </p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                          <span>
                              <a href="{{ project.url }}">View</a>
                          </span>
                        </p>
                        <p class="card-footer-item">
                          <span>
                              <a href="{{ project.url + '/update' }}">Edit details</a>
                          </span>
                        </p>
                        <p class="card-footer-item">
                          <span>
                              <a href="{{ project.url + '/delete' }}">Delete</a>
                          </span>
                        </p>
                    </footer>
                </div>
            </div>

        {% else %}
            <p>There are no projects.</p>
        {% endfor %}
    </div>
{% endblock %}