doctype html
html(lang='en')
    head
        title= title
        style(type="text/css").
            !{project.css_code}

    body
        | !{project.html_code}

        script.
            !{project.js_code}





