<nav class="navbar navbar-project" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">WP</a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item">
                <h1 class="title">{{ title }}</h1>
            </div>
            <a class="navbar-item" href="{{ project.url + '/update' }}" title="Edit details">
                <span class="icon">
                    <i class="fas fa-edit"></i>
                </span>
            </a>
            <div class="navbar-item">
                <button class="button is-primary is-small" id="save-project" type="submit">Save</button>
            </div>
        </div>
        <div class="navbar-end">
            <a href="/code/projects" class="navbar-item">My projects</a>
        </div>
    </div>
</nav>