{% if errors %}
    <ul>
        {% for error in errors %}
            <li>{{ error.msg }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post" action="">
    <div class="field">
        <label class="label is-medium"  for="name">Name</label>
        <div class="control">
            <input type="text" id="title" class="input" placeholder='Name of project' name='name' required='true'
               value="{{ project.name if undefined !== project }}">
        </div>
    </div>
    <button class="button is-primary is-fullwidth" type="submit">Submit</button>
</form>