{% if errors %}
    <ul>
        {% for error in errors %}
            <li>{{ error.msg }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post" action="">
    <div class="form-group">
        <label for="html_code">HTML Code:</label>
        <textarea name="html_code" id="html_code" class="form-control" rows="3">{{ project.html_code if undefined !== project}}</textarea>
    </div>
    <div class="form-group">
        <label for="css_code">CSS Code:</label>
        <textarea name="css_code" id="css_code" class="form-control" rows="3">{{ project.css_code if undefined !== project}}</textarea>
    </div>
    <div class="form-group">
        <label for="js_code">JS Code:</label>
        <textarea name="js_code" id="js_code" class="form-control" rows="3">{{ project.js_code if undefined !== project}}</textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<iframe src={{ project.previewUrl }} width="100%" height="400px"></iframe>