{% if errors %}
    <ul>
        {% for error in errors %}
            <li>{{ error.msg }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post" action="">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="title" class="form-control" placeholder='Name of project' name='name' required='true' value="{{ project.name if undefined !== project }}">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>