extends layout

block content
  h1= title
  p Welcome to #[em Web Playground]

  h1 Projects

  if error
    p Error getting projecs
  else
    p This is the record count:

    ul
        li #[strong Projects:] !{data.project_count}
