{% extends "layout/main.njk" %}

{% block content %}

    <div class="columns">
        <div class="column is-one-third is-offset-one-third">
            <h1 class="title">{{ title }}</h1>

            {% include "../includes/form-errors.njk" %}

            <form method="post" action="">
                <div class="field">
                    <label class="label is-medium" for="username">User name</label>
                    <div class="control has-icons-left">
                        <input class="input" type="email" id="username" name="username" placeholder="e.g. email@example.com">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope fa-xs"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label is-medium" for="password">Password</label>
                    <div class="control has-icons-left">
                        <input class="input" type="password" id="password" name="password" placeholder="********">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock fa-xs"></i>
                        </span>
                    </div>
                </div>
                <button class="button is-primary is-fullwidth" type="submit">Submit</button>
            </form>
        </div>
    </div>


{% endblock %}