extends ../layout

block content
    h1= title

    if errors
        ul
            for error in errors
                li!= error.msg

    form(method="post" action="")
        div.form-group
            label(for="first_name") First Name:
            input#first_name.form-control(type="text" name="first_name" value=(undefined === user ? '' : user.first_name) )
        div.form-group
            label(for="last_name") Last Name:
            input#last_name.form-control(type="text" name="last_name" value=(undefined === user ? '' : user.last_name) )
        div.form-group
            label(for="email") Email:
            input#email.form-control(type="email" name="email", placeholder="email@example.com" value=(undefined === user ? '' : user.email) )
        div.form-group
            label(for="password") Password:
            input#password.form-control(type="password" name="password")
        div.form-group
            label(for="password_repeat") Repeat Password:
            input#password_repeat.form-control(type="password" name="password_repeat")
        button.btn.btn-primary(type='submit') Submit