{% extends "layout/main.njk" %}

{% block content %}
    <div class="columns">
        <div class="column is-half-tablet is-offset-one-quarter-tablet is-one-third-desktop is-offset-one-third-desktop">
            <h1 class="title">{{ title }}</h1>

            {% include "../includes/form-errors.njk" %}

            <form method="post" action="">
                <div class="field">
                    <div class="control">
                        <label class="label is-required" for="first_name">First Name</label>
                        <input class="input" type="text" id="first_name" class="form-control" name="first_name" value="{{ user.first_name if 'undefined' !== user }}">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label is-required" for="last_name">Last Name</label>
                        <input class="input" type="text" id="last_name" class="form-control" name="last_name" value="{{ user.last_name if 'undefined' !== user }}">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label is-required" for="email">Email</label>
                        <input class="input" type="text" id="email" class="form-control" name="email" placeholder="e.g. email@example.com" value={{ user.email if 'undefined' !== user }}>
                    </div>
                    <p class="help">Used for login</p>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label is-required" for="password">Password</label>
                        <input class="input" type="password" id="password" class="form-control" name="password">
                    </div>
                    <p class="help">At least 8 characters long</p>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label is-required" for="repeat_password">Repeat Password</label>
                        <input class="input" type="password" id="password_repeat" class="form-control" name="password_repeat">
                    </div>
                </div>
                <button class="button is-primary is-fullwidth" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}