{% include "layout/head.njk" %}

<main role="main" aria-label="main content">
    <section class="hero is-fullheight">
        <div class="hero-head">
            {% include "includes/navbar.njk" %}
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                {% block content %}{% endblock %}
            </div>
        </div>
    </section>
</main>

{% include "layout/foot.njk" %}
