{% include "layout/head.njk" %}

{% include "includes/navbar.njk" %}
<main role="main" aria-label="main content">
    <div class="container is-fluid">
        {% block content %}{% endblock %}
    </div>
</main>

{% include "layout/foot.njk" %}
